.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-sidenav.md-locked-open {
  width: 200px !important;
  min-width: 200px !important;
  max-width: 200px !important;
}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 10px; 
  
}

.chat-box{
  overflow : auto;
}