<md-toolbar ng-show="!showSearch">
  <div class="md-toolbar-tools">
    <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <h3>
      Chat
    </h3>
    <span flex></span>
    <md-button aria-label="Log out" >
      <ng-md-icon icon="search" data-ng-click="logout()">Log out</ng-md-icon>
    </md-button>
  </div>
</md-toolbar>


 <div layout="column" flex id="content" class="chat-box" scroll-glue>
      <md-list ng-init="messages = getMessages()">
        <md-list-item class="md-2-line" ng-repeat="item in messages">
          <img ng-src="{{item.author.google.profileImageURL}}" class="md-avatar">
          <div class="md-list-item-text" layout="column">
            <h3 data-ng-bind="item.author.google.displayName"></h3>
            <p data-ng-bind="item.text"></p>
          </div>
        </md-list-item>
        <md-input-container class="md-block">
          <label>Send message</label>
          <input type="text" ng-model="msg.text" ng-enter="addMessage(msg); msg.text=null" columns="1" md-maxlength="700"/>
      </md-input-container>
 </div>
